* {
	margin: 0;
	padding: 0;
	
}

body {
	background: #232323;
	color: #000;
	font-family: 'Montserrat', sans-serif;

}

.etiquetas:hover{
	background-color: #1C1C1C ;
	display:inline-block;
	font-size:60px;
	transition:all .6s;
	text-shadow: 0px 5px 20px black;
	margin-top: -30px;
	margin-bottom: -20px;
	box-shadow: 0px 5px 7px black;
	border-radius: 5%;
	
}



.cajon .logo{
	display: inline-block;
	width: 150px;
	height: 50px;
	margin-left: 20px;
	cursor: pointer;
	
}


.cajon{
	background: #232323 ;
	width: 100%;
	max-width:2000px;
	height: 60px;
	box-shadow: 0px 4px 10px 7px black;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	grid-area: cajon;
	left: 0;
	right: 0;
	top: 0;
	
	
	
}

.menudeinicio{
	
	padding:30px;
	font: 15px "Montserrat",sans-serif;
	color:white;
	cursor:pointer;
	text-shadow: 5px 5px 5px black;
	
	

	
}

.menudeinicio:hover{
	font-size:16px;
	color:#fAA43D ;
	transition:all .9s;
	text-shadow: 5px 5px 5px black;
	background: black;
	

}


.contenedor {
	width: 95%;
	max-width: 1000px;
	margin: 30px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(11, auto);
	grid-template-areas: "cajon cajon"
	                     "contenido contenido"
	                     "barraredes barraredes"
						 "widget-1 widget-2 "
						 "miniwidget-1 miniwidget-2"
						 "widget-3 widget-4"
						 "miniwidget-3 miniwidget-4"
						 "widget-5 widget-6"
						 "miniwidget-5 miniwidget-6"
						 "sidebar sidebar "
						 "registro registro"
						 "footer footer ";
}

.contenedor > div,
.contenedor .barraredes,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .barraredes {
	background: #000;
	color: #fff;
	grid-area: barraredes;
	
	
	
}
.barraredes{
	display: grid;
	grid-gap: 2px;

	grid-template-columns: repeat(4, 1fr);
	height: 30px;
	text-align: center;
	box-shadow: 0px 5px 15px black;
	cursor: pointer;
}

.barraredes span{
	color: white;
	font-size: 30px;
	display: inline-block;
	cursor:pointer; 

}



.contenedor .contenido {
	grid-area: contenido;
	background-image: url('./img/ropa2.jpeg');   
    background-repeat: no-repeat;      
	background-attachment: fixed;
	background-position: center top; 
	display: flex;
	text-align: center;
	

	
}
.contenido{
		height: 500px;
		box-shadow: 0px 10px 10px black;
	    margin-top: 40px;
		
		
}

#titulo1{
	font:bold 60px'Brush Script MT' ;
	
	
}

#titulo2{
	font:bold 50px'Brush Script MT' ;
	
	
}

.T1_2{

	text-align: center;
	margin-top: 200px;
	color:white;
	text-shadow: 0px 10px 10px  black;

}





.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3,
.contenedor .widget-4,
.contenedor .widget-5,
.contenedor .widget-6 {
	background: none;
	color: #fff;
	height: 500px;

}

.imagenes{
	box-shadow: 15px 15px #141414  , 30px 30px black;
	border-radius: 3%;
}

.contenedor .cajon .logo{
	grid-area: logo;
}
.contenedor .cajon .login{
	grid-area: login;
}
.contenedor .cajon .soporte{
	grid-area: soporte;
}
.contenedor .cajon .descuentos{
	grid-area: descuentos;
}


.contenedor .widget-1 {
	grid-area: widget-1;
	
	
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .widget-3 {
	grid-area: widget-3;
}

.contenedor .widget-4 {
	grid-area: widget-4;
}

.contenedor .widget-5 {
	grid-area: widget-5;
}

.contenedor .widget-6 {
	grid-area: widget-6;
}

.contenedor .miniwidget-1 {
	grid-area: miniwidget-1;
}

.contenedor .miniwidget-2 {
	grid-area: miniwidget-2;
}

.contenedor .miniwidget-3 {
	grid-area: miniwidget-3;
}

.contenedor .miniwidget-4 {
	grid-area: miniwidget-4;
}

.contenedor .miniwidget-5 {
	grid-area: miniwidget-5;
}

.contenedor .miniwidget-6 {
	grid-area: miniwidget-6;
}

.contenedor .registro {
	grid-area: registro;
}


.contenedor .footer {
	background: #1C1C1C;
	color: darkgray;
	grid-area: footer;
	cursor: pointer;
	box-shadow:  15px 20px  black ;
}


.ir:hover{
	
	display:inline-block;
	font-size:17px;
	transition:all .9s;
	color: darkorange;
	
}

.contenedor .miniwidget-1,
.contenedor .miniwidget-2,
.contenedor .miniwidget-3,
.contenedor .miniwidget-4,
.contenedor .miniwidget-5,
.contenedor .miniwidget-6 {
	color: white;
	background-color: #1C1C1C;
	text-align: center;
	box-shadow: 0px 10px 10px  black;
	text-shadow: 0px 10px 10px  black;
	display: inline-block;
	cursor: pointer;
	
}

.letrasmini:hover{
	font-size:32px;
	transition:all .9s;
	color: darkorange;
}

.iconbuy{
	font-size: 22px;
	padding:  10px;
	background-color: #232323;
    display: block;

}
.iconbuy:hover{
  color: chartreuse;
  transition:all .9s;
}

.contenedor .sidebar {

	background: #1C1C1C;
	text-align: center;
	grid-area: sidebar;
	border-radius: 2%;
	box-shadow: 0px 5px 10px  black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sidebar video{
	outline:none;
	resize:none;
	box-shadow: 0px 6px 6px  black;
	
}

.sidebar h1{
	text-align: center;
	width: 97%;
	padding: 15px;
	font-size: 40px;
	color:white;
	margin-top: -10px;
	margin-bottom: 10px;
	border-bottom: 3px solid white;
	text-shadow: 0px 5px 10px black;
}
.sidebar h2{
	
	text-align: center;
	width: 97%;
	padding: 15px;
	color:white;
	margin-top: 30px;
	border-top: 3px solid darkgray;
	text-shadow: 0px 5px 10px black;
	border-bottom: 3px solid darkgray;
	
}

.sidebar p{
	padding:10px;
	color: #bebed2;
	font-size: 10px;
}



.registro{
	background-color: #1C1C1C;
	border-radius: 3%;
	box-shadow: 0px 10px 15px  black;
	padding: 15px;
	
	
}
.registro h2{

	margin: 20px;
	padding: 10px;
	color: darkorange;
	text-shadow: 0px 10px 15px black;
	display: block;
	border-bottom: 2px  solid darkorange;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	
}

.registro #textosorteo {
	padding: 20px;
	padding-top: 5px;
	margin: 0;
	color: #fff;
	text-align: justify;
	
	

	
}

.registro label{
    display: block;
	padding-top: 5px;
	margin: 0;
	color: #fff;
	text-align:center;
	color: darkgray;
	font-size: 14px;

}

.registro input{
	 width:85%;
	 padding: 10px;
	 box-sizing:border-box;
	 background:none;
	 outline:none;
	 resize:none;
	 border:100px;
	 font-family:'Montserrat',sans-serif;
	 border-bottom: 3px solid #bebed2;
	 color: white;
	 margin: 10px;

	 
	
}

.registro input:hover{
	border-bottom:3px solid #fAA43D;
	transition:all .6s;
	background-color: none;
}

.botones input{
	width: 28%;
	margin-left: 130px;
	border-radius: 10%;
	color: white;
	border:2px solid white;
	cursor: pointer;
}

.botones input:hover{
	border:2px solid #fAA43D;
	color: #fAA43D;
}

@media screen and (max-width: 768px) {
   
	
	.contenedor .contenido{
		margin-top: 80px;
		
	}
	.contenedor .cajon .menudeinicio{
		background-color: #232323;
		box-shadow: 0px 0px 5px black;
		text-align: center;
		padding: 10px;
			
		
	

	}
	
	.contenedor .cajon{
		
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(3, auto);
	    grid-template-areas:"logo logo logo"
		                    "login soporte descuentos"
							
	}
	.contenedor{
		
	grid-template-areas: "cajon cajon "
	                     "contenido contenido "
	                     "barraredes barraredes "
						 "widget-1 widget-2 "
						 "miniwidget-1 miniwidget-2"
						 "widget-3 widget-4 "
						 "miniwidget-3 miniwidget-4"
						 "widget-5 widget-6 "
						 "miniwidget-5 miniwidget-6"
						 "sidebar sidebar"
						 "registro registro"
						 "footer footer";
	}
	
}
	
/* ---------------------------------------------------------------------------- */
.fondologin{
	background-image: url('./img/fondo11.jpg');
}
.contenedor2{
	
	width: 59%;
	max-width: 1000px;
	margin: 30px auto;
	display: grid;
	text-align: center;
	background-color: #141414;
	border-radius: 3%;
	padding: 15px;
	height: 350px;
	box-shadow:  25px 25px black;
	margin-top: 100px;
	
}

.contenedor2 h1{
	font-size: 50px;
	color: white;
	text-shadow: 0px 5px 5px black;
	padding-top: 20px;

}

.contenedor2 label{
    display: block;
	padding-top: 5px;
	margin: 0;
	color: #fff;
	color: darkgray;
	

}

.contenedor2 input{
	 width:85%;
	 padding: 10px;
	 box-sizing:border-box;
	 background:none;
	 outline:none;
	 resize:none;
	 border:100px;
	 font-family:'Montserrat',sans-serif;
	 border-bottom: 3px solid #bebed2;
	 color: white;
	 margin: 10px;
	 cursor: pointer;
	 
	
}

.contenedor2 input:hover{
	border-bottom:3px solid #fAA43D;
	transition:all .6s;
	background-color: none;
}



	




